@import "tailwindcss";
@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

@theme {

    #Bg {
        background-image: url("Assets/Background.jpg") background-size: cover;
    }

    ;
}

;

@base {
    #Bg {
        background-image: url("Assets/Background.jpg") background-size: cover;
    }

    ;
}

;

@components {
    #Bg {
        background-image: url("Assets/Background.jpg"),
         background-size: cover;
    }

    ;
}

;